.contact-main-div {
    height: 100%;
    width: 100%;
    color: #282828;
}

.contact-main-div > p {
    margin-top: 2%;
    width: 100%;
    font-size: 1.5em;
    /* font-weight: bold; */
    text-shadow: white 0px 0px 10px;
    text-align: center;

}

.contact-links {
    margin-bottom: 3%;
    width: 3%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1% ;
    border-bottom: red solid 2px;
    border-right: red solid 2px;
}

.constacts-list-div {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-img {
    width: 100%;
    box-shadow: none;
}

#video-attribute {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    position: relative;
    bottom: 0;
}

.pavel-link {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .contact-main-div > p {
        font-size: 1.2em;
        
    }

    .contact-links {
        width: 10%;
        text-align: center;
        margin-bottom: 10%;
    }

    #video-attribute {
        font-weight: normal;
        text-decoration: none;
        padding-top: 5%;
        font-size: 1em;
    }
}

