.navbar-main-div {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.logo-link {
    margin-right: auto;
    text-decoration: none;
    color: hwb(0 0% 0%);
    margin-left: 1%;
    margin-top: 1%;
    font-weight: bold;
    text-shadow: #121212 0px 0px 10px;

}

.logo-link > p {
    letter-spacing: 0.6em;
}

.navbar-links {
    text-decoration: none;
    margin-right: 1%;
    font-size: 1.5em;
    color: #FFFFFF;
    text-shadow: #121212 0px 0px 10px;

}