.navbar-main-div {
    display: flex;
}

.btn {
    position: absolute;
    display: none;
    right: 0%;
    top: 0%;
    color: hsl(0, 100%, 50%);
    background-color: hwb(0 7% 93% / 0) ;
    text-shadow: #121212 0px 0px 10px;
    font-size: 1em;
    
}

.navbar-main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    right: 0;

}

.logo-link {
    margin-right: auto;
    text-decoration: none;
    color: red;
    margin-left: 1%;
    margin-top: 1%;
    font-weight: bold;
    text-shadow: #121212 0px 0px 10px;
}

.logo-link > p {
    letter-spacing: 0.6em;
    color: red;
}

.navbar-links {
    text-decoration: none;
    margin-right: 5%;
    font-size: 1.5em;
    color: #FFFFFF;
    text-shadow: #121212 0px 0px 10px;
}

.btn:hover {
    cursor: pointer;
}

.btn-links-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width: 700px) {
    .btn {
        position: relative;
        width: 30%;
        display: block;
        border: none;
        font-size: 1.5em;
        right: 0%;
        top: 0%;
        padding: 0;
    }

    .navbar-main {
        flex-direction: column;
        height: auto;
        position: relative;
    }

    .navbar-links {
        width: 100%;
        text-align: center;
        border: hwb(0 0% 100%) 1px solid;
        margin-right: 0%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #12121223;
        font-size: 1.2em;
        
    }

    .logo-link {
        margin-top: 0%;
    }

    .logo-link > p {
        letter-spacing: 0.3em;
        
    }
}
