
html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #282828 0%, #404040 100%) no-repeat;
  
}

body {
  margin: 0;
  padding: 0;
}

/* *{ border: 1px solid red; } */

/* background #121212
menu bar #181818
top gradient #282828
bottom gradient #404040
primary text #FFFFFF
secondary text #B3B3B3 */

/* Video by Pavel Danilyuk from Pexels */
/* Video by Pavel Danilyuk from Pexels */
/* https://www.instagram.com/rocketmann_team/ */
/* https://www.pexels.com/video/a-person-busy-working-on-his-laptop-5495788/   video link */
/* https://www.pexels.com/@pavel-danilyuk/ artist-link */