html {
  font-family: sans-serif;
  background-color: #121212;
}

body {
  margin: 0
}

/* background #121212
menu bar #181818
top gradient #282828
bottom gradient #404040
primary text #FFFFFF
secondary text #B3B3B3 */

/* Video by Pavel Danilyuk from Pexels */
/* Video by Pavel Danilyuk from Pexels */
/* https://www.instagram.com/rocketmann_team/ */
/* https://www.pexels.com/video/a-person-busy-working-on-his-laptop-5495788/   video link */