.aboutme-main-div {
    height: 100vh;
    color: #FFFFFF;
    min-height: 100%;
    overflow-y: scroll;
    
 }

 .who-i-am-div > p {
    width: 50%;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: #121212 0px 0px 10px;
}

.texts-div {
    margin-top: 5%;
}

.hi-span {
    font-size: 2em;
}


h1 {
  overflow: hidden;
  text-align: center;
}

h1:before,
h1:after {
  background-color: #ff0000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}

.who-i-am-div {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

img {
    width: 30%;
    height: 30%;
    border-radius: 2%;
    margin-top: 2%;
    box-shadow: #121212 5px 5px 20px;
}

.resume-link {
    margin-left: auto;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: #121212 0px 0px 20px;
}

@media screen and (max-width: 850px) {
  .who-i-am-div > p {
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    text-shadow: #121212 0px 0px 10px;
    text-align: justify;
  }
}

@media screen and (max-width: 700px) {
  .who-i-am-div {
    flex-direction: column;
  }

  .who-i-am-div > p {
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    text-shadow: #121212 0px 0px 10px;
    text-align: justify;
  }

  img {
    width: 40%;
    height: 40%;
    border-radius: 2%;
    justify-content: center;
    box-shadow: #121212 5px 5px 20px;
}
}


